.masthead-nav, .masthead-brand {
	display:none;
}
h1 {
  margin-bottom:40px;
	font-size:48px;
}
h1, h3 {
		font-weight:200;
}
h1.glow {
	color: #B6FF00;
	-webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}
select {
	color:#545454;
}
.modal-content {
	background-color:#5A5A5A;
}
.modal-footer {	
	background-image: url('https://ohkrapp.files.wordpress.com/2008/10/south-park-imaginationland-poster.jpg');
  background-position-y: 80%;
}
.cover-container {
  margin-top:40px;
}
.nav-tabs {
  width:172px;
  margin: 35px auto;
}
.site-wrapper-inner {
  vertical-align:top;
}
.mainBox {
  border:3px solid white;
  border-radius:4px;
  min-width:310px;
	max-width:500px;
  height:580px;
  margin:auto;
	margin-bottom:32px;
  position: relative;
  background-color:black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
  box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.mainBox h4 {
  position:absolute;
  top:25px;
  padding:10px;
  margin:0;
}
.inContainer {
    position: absolute;
    width: 160px;
    left: 30px;
    cursor:pointer;  
}
.inContainer .do {
    display: inline;
    float: right;
    width: 110px;
    font-size: 12px;
    line-height: 30px;
    text-decoration: underline;
}
.input {
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    color: gray;
    float: left;
}
#input1 {
  top:110px;
}
#input2 {
  top:210px;
}
#input3 {
  top:310px;
}
#input4 {
  top:410px;
}
#input5 {
  top:300px;
}
.input.bnc {
    background-image: url('../img/bnc-female.jpg');
    background-size: 70px;
    background-position: center;
    width: 42px;
    height: 42px;
}
.input.din {
    background-image: url('../img/4-pin-din.png');
    background-size: 77px;
    background-position: center;
    width: 45px;
    height: 45px;
}
.output {
    border: 2px solid gray;
    width: 80px;
    height: 62px;
    background-color: white;
    position: absolute;
    border-radius: 18px;
    background-image: url('../img/power_socket_us.jpg');
    background-size: 100px 66px;
    background-position: center;
}
.output span {
		font-size: 12px;
    top: 37px;
    left: -19px;
    position: relative;
    color: black;	
}
.output input {
		font-size: 12px;
    background-color: #353535;
    color: #CECECE;
    width: 76px;
    position: relative;
    top: 43px;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
}
#output1 {
  top:100px;
  right:40px;
}
#output2 {
  top:219px;
  right:40px;
}
#output3 {
  top:342px;
  right:40px;
}

#l1 {
  left:78px;
  text-align:left;
}
#l2 {
  right:55px;
  text-align:right;
}






/*timepicker */
.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

a.introjs-button:focus {
	color:#337ab7;
	text-decoration:none;
}

/*Overwrites */
@media (min-width: 768px) {
	.mastfoot {
			position: static;
	}
}

/*animations*/
@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
