h1 {
  margin-bottom:40px;
}
.cover-container {
  margin-top:120px;
}
.nav-tabs {
  width:240px;
  margin: 0 auto 0 auto;
  margin-bottom:20px;
  
}
.site-wrapper-inner {
  vertical-align:top;
}
.mainBox {
  border:3px solid white;
  border-radius:4px;
  width:70%;
  height:580px;
  margin:auto;
  position: relative;
  background-color:black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
  box-shadow: 10px 10px 5px 0px rgba(33,33,33,1);
}
.mainBox h4 {
  position:absolute;
  top:25px;
  padding:10px;
  margin:0;
}
.inContainer {
    position: absolute;
    width: 141px;
    left: 30px;
    cursor:pointer;  
}
.inContainer .do {
    display: inline;
    float: right;
    width: 110px;
    font-size: 12px;
    line-height: 30px;
    text-decoration: underline;
}
.input {
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    color: gray;
    float: left;
}
#input1 {
  top:110px;
}
#input2 {
  top:210px;
}
#input3 {
  top:310px;
}
#input4 {
  top:410px;
}
.output {
    border: 2px solid gray;
    width: 80px;
    height: 62px;
    background-color: white;
    position: absolute;
    border-radius: 18px;
    background-image: url('img/power_socket_us.jpg');
    background-size: 100px 66px;
    background-position: center;
    -ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
#output1 {
  top:100px;
  right:40px;
}
#output2 {
  top:209px;
  right:40px;
}
#output3 {
  top:322px;
  right:40px;
}
#output4 {
  top:440px;
  right:40px;
}
#l1 {
  left:78px;
  text-align:left;
}
#l2 {
  right:55px;
  text-align:right;
}
#newRule {
  margin: auto;
  display: block;
  margin-top: 40px;
}
#editor select {
  font-size:16px;
}

#editor .a {
  padding-top: 10px;
  margin-top:10px;
  border-top: 1px dotted gray;
}
#editor .a:first-of-type {
  padding-top: initial;
  border-top: initial;
}






/*timepicker */
.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}



