#editor {
  min-height:600px;
  width:600px;
  border:2px solid gray;
  background-color:#000000;
  padding:8px;
  text-align:left;
}

.rule {
  margin-bottom:15px;
}

.b {
  margin-left:30px;
}

.then {
  font-size:90%;
  color:gray;
  text-decoration:underline;
  cursor:pointer;
}